.day .events {
	@apply flex items-center flex-grow flex-col gap-1 p-1 overflow-y-auto;
	/* Firefox */
	scrollbar-width: thin;
	scrollbar-color: #4b5563 transparent;
}

.events:not(.empty) h2 {
	@apply w-full bg-slate-500 rounded-sm px-1 font-medium text-white
	flex flex-row gap-1 bg-opacity-50;
}
.special_mayor {
	@apply !bg-purple-600;
}

.events:not(.empty) img {
	@apply h-5 w-5 m-1;
}

.day .events.empty {
	@apply justify-center;
}

.day .events.empty h2 {
	@apply text-xl font-bold text-white;
}

/* ===== Scrollbar CSS ===== */

/* Chrome, Edge, and Safari */
.day .events::-webkit-scrollbar {
	width: 6px;
}

.day .events::-webkit-scrollbar-track {
	@apply bg-transparent;
}

.day .events::-webkit-scrollbar-thumb {
	@apply border-2 border-transparent rounded-lg bg-gray-600;
}
