@tailwind base;
@tailwind components;
@tailwind utilities;

/* You are meant to put custom classes here */
@layer utilities {
	.aClass{ 
		background-color: red;
	}
}

@font-face {
	font-family: "mc";
	src: url("./fonts/mc.woff") format("woff");
}

@font-face {
	font-family: "mc-smooth";
	src: url("./fonts/mc-smooth.woff") format("woff");
}
